spring:
  profiles:
    active: local

  datasource:
    url: jdbc:h2:mem:palmdb
    driver-class-name: org.h2.Driver
    username: sa
    password:

    jpa:
      hibernate:
        ddl-auto: none
      show-sql: false

    h2:
      console:
        enabled: true
        path: /h2-console

  application:
    name: palm-reading

  ai:
    google:
      genai:
        api-key: AIzaSyBHLsMwOoPTLJSN8a3xYFMJJXV7Hnchqg8
#        embedding:
#          api-key: ${GEMINI_API_KEY}        # ⭐ 이게 핵심 (Embedding도 Developer API로)
#          text:
#            options:
#              model: gemini-embedding-001
        chat:
          options:
            model: gemini-flash-latest
            temperature: 0.7
            # JSON 강제하면 파싱 지옥 줄어듦
            response-mime-type: application/json

  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB

server:
  port: 8080