spring:
  profiles:
    active: local

  datasource:
    url: jdbc:h2:mem:testdb
    driver-class-name: org.h2.Driver
    username: sa
    password:
    jpa:
      hibernate:
        ddl-auto: none

  application:
    name: palm-reading

  ai:
    google:
      genai:
        api-key: ${GEMINI_API_KEY} # ?? AI ?????? ???? ?
        chat:
          options:
            model: gemini-1.5-flash # ???? ?? ??
            temperature: 0.7
# ?? ??? ?? ?? ?? (??? ??? ?? ??)
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB
  # ??? ?? ?? ?? (?? 8080)
server:
  port: 8080