spring:
  profiles:
    active: local

  datasource:
    url: jdbc:postgresql://localhost:5432/${OUR_DB}
    username: ${OUR_NAME}
    password: ${OUR_PW}
    driver-class-name: org.postgresql.Driver

  application:
    name: palm-reading

  ai:
    google:
      genai:
        api-key: ${GEMINI_API_KEY}
        chat:
          options:
            model: gemini-flash-latest
            temperature: 0.7
            # JSON 강제하면 파싱 지옥 줄어듦
            response-mime-type: application/json

        # (선택) embedding 모델 명시
        embedding:
          api-key: ${GEMINI_API_KEY}
          text:
            options:
              model: gemini-embedding-001


    model:
      embedding:
        text: none

    # ✅ pgvector는 vectorstore 아래!
    vectorstore:
      pgvector:
        initialize-schema: true
        index-type: HNSW
        distance-type: COSINE_DISTANCE
        dimensions: 768

  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB

server:
  port: 8080